body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

h2 {
    margin: 0;
}

#grid {
    margin: 0 auto;
    width: 1600px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 7px;
    height: 7px;
}


.black {
    background-color: black;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}
